.status-bar-wrapper {
    height: 12px;
    width: 100%;
    background-color: lightgrey;
}

.status-bar-wrapper > div {
    height: 12px;
    background-color: greenyellow;
    width: 0;
    transition: width .5s;
}